<ul class="meeting-list">
  <% meetings.forEach(m => { %>
  <li>
    <a
      hx-get="/meetings/<%= m._id %>"
      hx-target="#content"
      hx-push-url="true"
      style="cursor: pointer"
    >
      Participants: <%= m.participants.join(" & ") %> on <%= m.startDate %>
    </a>
    <!-- <button style="background-color: green; color: white">Join</button> -->
    <button
      hx-get="/meetings/<%= m._id %>/join"
      hx-target="#modal"
      hx-swap="innerHTML"
      style="background-color: green; color: white; margin-left: 6px"
    >
      Join
    </button>

    <!-- <button style="background-color: red; color: white">Remove</button> -->
    <form
      hx-post="/meetings/<%= m._id %>/delete"
      hx-target="#content"
      style="display: inline"
    >
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button
        type="submit"
        hx-on:click="alert('This cannot be undone!')"
        style="background-color: red; color: white"
      >
        Remove
      </button>
    </form>
  </li>

  <% }) %> <% if (meetings.length === 0) { %>
  <li>No meetings yet.</li>
  <button hx-get="/users" hx-target="#content" hx-push-url="true">
    Create some
  </button>
  <% } %>
</ul>
